<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <!-- Select de plantas -->
    <div class="col">
      <select class="form-control" [(ngModel)]="selectedPlant" (change)="onSelectionChange()">
        <option *ngFor="let plant of plants" [ngValue]="plant">
          {{ plant.name }}
        </option>
      </select>
    </div>
  
    <!-- Select de fecha -->
    <div class="col">
      <input type="date" class="form-control" [(ngModel)]="selectedDay" (change)="onSelectionChange()">
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">ABASTECIMIENTOS</h3>
            </div>
            <div class="col text-right">
              <a style="box-shadow: none;border-color: transparent;" (click)="addSupplying()" class="btn btn-sm btn-primary">Agregar</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Folio</th>
                <th scope="col">Transporte</th>
                <th scope="col">Kg Carta Porte</th>
                <th scope="col">KG RI</th>
                <th scope="col" *ngIf="rol==0">Almacenes</th>
                <th scope="col" *ngIf="rol==0">% Almacen</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let supply of supplyies" >
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{supply["folio"]}}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{supply["pg"]}}
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{supply["document_kg"] | number: '1.2'}}
                </div>                
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{supply["kg"] | number: '1.2'}}
                </div>                
                </td>
                <td *ngIf="rol==0">
                  <div class="d-flex align-items-center">
                    {{supply["effiency"] | number: '1.2'}}
                </div>                
                </td>
                <td *ngIf="rol==0">
                  <div class="d-flex align-items-center">
                    {{((supply["kg"]/supply["document_kg"])-1)*100 | number: '1.3'}} %
                </div>                
                </td>
                <td class="text-right">
                  <div ngbDropdown placement="bottom-right">
                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                      <i class="fas fa-ellipsis-v"></i>
                    </a>
                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                      <!-- <a class="dropdown-item" (click)="onEditSupply(supply.id_suply)">Editar</a> -->
                      <a class="dropdown-item" (click)="onDeleteSupply(supply.id_suply)">Eliminar</a>
                      <!-- <a class="dropdown-item" >Pedir autorización</a> -->
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="font-weight-bold">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">TOTAL</span>
                    </div>
                  </div>
                </th>
                <td class="text-center"></td>
                <td>
                  {{ getTotal('document_kg') | number: '1.2' }}
                </td>
                <td>
                  {{ getTotal('kg') | number: '1.2' }}
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
