<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <!-- Select de plantas -->
    <div class="col">
      <select class="form-control" [(ngModel)]="selectedPlant" (change)="onSelectionChange()">
        <option *ngFor="let plant of plants" [ngValue]="plant">
          {{ plant.name }}
        </option>
      </select>
    </div>
  
    <!-- Select de fecha -->
    <div class="col">
      <input type="date" class="form-control" [(ngModel)]="selectedDay" (change)="onSelectionChange()">
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">CILINDROS</h3>
            </div>
            <div class="col text-right">
              <a style="box-shadow: none;border-color: transparent;" (click)="regenerateCSV()"  class="btn btn-sm btn-primary">Volver a generar</a>
            </div>
           
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">KG Teóricos</th>
                <th scope="col">KG reales</th>
                <th scope="col">Litros teóricos</th>
                <th scope="col">Litros reales</th>
                <th scope="col">Almacenes</th>
                <th scope="col">Residuos</th>
                <th scope="col">Desperdicios</th>
                <th scope="col">% almacenes</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cilindro of cilindros">
                <td >
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{cilindro["theorical_kg"] | number: '1.2'}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  {{cilindro["real_kg"] | number: '1.2'}}
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{cilindro["theorical_liters"] | number: '1.2'}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{cilindro["liters"] | number: '1.2'}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{cilindro["efficiency"] | number: '1.2'}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{cilindro["residue"] | number: '1.2'}}
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    {{cilindro["waste_kg"] | number: '1.2'}}
                  </div>
                </td>
                <td class="text-right">
                  <div class="d-flex align-items-center">
                    {{cilindro["percen_efficiency"]*100 | number: '1.2'}}%
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!-- <div class="row mt-4">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">DATOS</h3>
            </div>
           
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" *ngFor="let header of getHeaders()">{{ header }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of cilindrosData">
                <td *ngFor="let key of getHeaders()">{{ row[key] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->
</div>
